p{
	color:black;
	letter-spacing:-1px;
}
#cast-logo{
	position:absolute;
}
.section {
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items: ;
    align-content: center;
    align-items: center;
    background: #ececec;
    flex-direction: column;
    /* text-align: center; */
    border-bottom: 1px solid black;
  
}
.outer{
	height:100vh;
}
div#section-two, div#section-four {
    background: #b8d4ff;
    height:60vh;
}
#section-two{
	height:60vh;
	    width: 50%;
    float: left;
    background: #b8d4ff;

}
#section-three{
	height:60vh;
	    width: 50%;
    float: left;
    background: #b8d4ff;
}
#section-two .inner-section, #section-three .inner-section{
	font-size:18px;
}
.inner-section{
	    font-size: 23px;
	width: 60%;
}
p#second-pagraph {
    /* letter-spacing: -2px; */
    font-size: 20px;
}
.link-click a{
	font-size:18px;
}
div#section-four {
    width: 100%;
    height: 50vh;
}
#links{
    text-shadow: 1px 1px 1px #1f1f1f;
}


@media screen and (max-width: 750px) {
	#project_tagline {
		text-align:center;
		font-size:28px;
	}
	#project_title {
		font-size:34px;
		text-align:center;
	}




}

@media screen and (max-width: 550px) {
	#project_tagline {
		text-align:center;
		font-size:25px;
	}
	#project_title {
		font-size:34px;
		text-align:center;
	}
#forkme_banner {
    display: block;
    position: absolute;
    /* top: 0; */
    bottom: 50px;
    /* right: 10px; */
    margin-left: -81.6px;
    left: 50%;
    z-index: 10;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: .3s;
}
}